<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/slides/h2-slide.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5>{{'Fresh, rapid and delicious'}}</h5>
          <p class="d-none d-md-block d-lg-block">{{'In our restaurants we offer delicious food and quality services, we invite you to try our services.'}}</p>
          <button class="btn btn-outline-secondary" type="button" (click)="navigate()">{{'View our restaurants'}}</button>
          <form action="" class="d-none">
            <input type="text" placeholder="Search Restaurant">
          </form>
        </div>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

      <!--Customer assurance section-->
      <div class="row assurance-statement">
        <div class="col-sm-3">
          <img src="../../assets/img/icons/icon1.png" alt="">
          <h3>{{'Better quality'}}</h3>
          <p>Praesent pulvinar neque pel
            lentesque mattis pretium.</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/img/icons/icon2.png" alt="">
          <h3>{{'On time'}}</h3>
          <p>Praesent pulvinar neque pel
            lentesque mattis pretium.</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/img/icons/icon3.png" alt="">
          <h3>{{'Masterchefs'}}</h3>
          <p>Praesent pulvinar neque pel
            lentesque mattis pretium.</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/img/icons/icon4.png" alt="">
          <h3>{{'Tasty food'}}</h3>
          <p>Praesent pulvinar neque pel
            lentesque mattis pretium.</p>
        </div>
      </div>
      <!--End of Customer assurance section-->