

.carousel-inner{
    
}

.carousel-caption h5{
    margin-top: -150px;
    font-size: 1.2rem;
    font-weight: 700;
}

.carousel-caption button{
    border-color: white;
    border-width: 1px;
    color: #020202;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 45px;
    font-weight: 400;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
    border: #807d7d3b 5px solid
}

.carousel-caption p{
    font-size: 1.5rem;
    padding: 0px 200px 0 200px;
}

.carousel-caption form input{
    height: 70px;
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 60px;
    width: 90%;
    border-radius: 6px;
    border-color: var(--danger);
    padding: 15px;
}


@media (min-width: 320px) { 
    
    .carousel-inner img{
        margin-top:0px
    }

    .carousel-caption h5{
        margin-top: 100px;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .carousel-caption button {
        border-color: white;
        border-width: 1px;
        color: #020202;
        text-transform: uppercase;
        font-size: .8rem;
        margin-top: 25px;
        font-weight: 400;
        background: #ffffff;
        padding: 5px 10px 5px 10px;
        border-radius: 35px;
        border: #807d7d3b 5px solid;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .carousel-caption h5{
        margin-top: -170px;
    font-size: 1.7rem;
    font-weight: 700;
    transition: 2s margin-top font-size;
    }

    .carousel-caption button {
        border-color: white;
        border-width: 1px;
        color: #020202;
        text-transform: uppercase;
        font-size: .8rem;
        margin-top: 25px;
        font-weight: 400;
        background: #ffffff;
        padding: 5px 10px 5px 10px;
        border-radius: 35px;
        border: #807d7d3b 5px solid;
    }

   
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .carousel-caption h5{
        margin-top: -230px;
    font-size: 2.5rem;
    font-weight: 700;
    }

    .carousel-caption button {
        border-color: white;
        border-width: 1px;
        color: #020202;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 25px;
        font-weight: 400;
        background: #ffffff;
        padding: 10px 20px 10px 20px;
        border-radius: 35px;
        border: #807d7d3b 5px solid;
    }

    .carousel-caption p{
        font-size: 1rem;
        padding: 0px 20px 0 20px;
        font-weight: 300;
    }

   
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .carousel-inner{
       
        margin-top: -100px;
    }
    .carousel-caption h5{
        margin-top: -250px;
        font-size: 3rem;
        font-weight: 700;
    }

    .carousel-caption p{
        font-size: 1.2rem;
        padding: 0px 20px 0 20px;
        font-weight: 300;
    }

   
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    .carousel-inner{
    height: 100vh !important;
    margin-top: -70px;
}

    .carousel-caption h5{
        margin-top: -400px;
        font-size: 4rem;
        font-weight: 700;
    }

    .carousel-caption p{
        font-size: 1.5rem;
        padding: 0px 20px 0 20px;
        font-weight: 300;
    }
}


/* rResturant List */
input{
    height: 70px;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 90%;
    border-radius: 6px;
    border-color: red;
    padding: 15px;
}
 ._buttons{
    margin-top:10px;
    margin-bottom:10px
 }
span a{
    margin-left:10px
}

.service{
    margin-top:20px;
    margin-bottom:20px; 
  }

  .time span{
      font-size:0.9rem;
      color: rgb(7 203 52);
      font-weight: bold;
  }
  
  .featured-section .nav-tabs{
      text-align: center;
  }
  
  .featured-section .nav-tabs button{
      margin-left:20px;
      margin-bottom:10px;
  }
  
  .restaurant-list, .menu-list{
      text-align: center;
      padding: 20px 30px 10px 30px;
  }
  
  .restaurant{
      max-height: 500px !important;
      padding:0px 0 30px 0
  }
  
  .restaurant:hover{
      /* border:#e9e9e9 2px solid; */
      /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
      transition: border 2s;
      
  }
  .restaurant .badge .badge-danger{
  
  }
  .restaurant img{
    width: 250px;
    height: 150px;
    border-radius: 10px 0 10px 0;
    border: 4px #907f7f61 solid;
  }
  
  .restaurant .btn{
      background: #cf0810;
      color: white;
      padding: 10px 20px;
      border: #ccc 5px solid;
      border-radius: 50px;
  }

  .restaurant .btn:hover{
      cursor: pointer;
  }
  
  .res-headings h1{
      color: #cf0810;
      text-transform: uppercase;
      font-weight: 800;
      
  }
  
  .res-headings h2{
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #666666;
      font-weight: lighter;
      display: inline-block;
      position: relative;
      padding: 0 75px;
      margin: 0;
      line-height: 1;
  }
  
  .res-headings h2:before{
      left:0;
  }
  
  .res-headings h2:before{
      transform: translateY(-50%);
      top: 50%;
      content: "";
      width: 53px;
      display: inline-block;
      height: 1px;
      background-color: #d5d5d5;
      position: absolute;
  }
  
  .res-headings h2:after{
      right:0;
  }
  
  .res-headings h2:after{
      transform: translateY(-50%);
      top: 50%;
      content: "";
      width: 53px;
      display: inline-block;
      height: 1px;
      background-color: #d5d5d5;
      position: absolute;
  }
  
  .restaurant h3{
      margin: 10px 0 5px;
      font-size: 16px;
      color: #333333;
      font-weight: 500;
      padding: 10px 0 0 0;
  }
  
  .restaurant .ingredients{
      font-style:italic;
      padding: 0px 20px 0px 20px;
  }
  
  .restaurant .currency{
      padding: 10px 0 10px 0;
      font-size: 1.2rem;
      font-weight: 500;
      color: #3c3c3c;
      
  }
  
  .restaurant p{
      font-size: 14px;
      color: #666666;
      margin: 0;
      line-height: normal;
      padding: 0 20px 10px 20px;
  }
  
  .assurance-statement{
      text-align:center;
      padding: 50px 50px;
      margin-top: 20px;
  }
  
  .assurance-statement div h3{
      margin: 10px 0 5px;
      padding: 0;
      font-size: 18px;
      color: #333333;
      font-weight: 500;
  }
  
  .assurance-statement div p{
      font-size: 14px;
      color: #666666;
      margin: 0;
      line-height: normal;
  }
  
/* rResturant List End */

/* Customer assurance section */
.assurance-statement{
    text-align:center;
    padding: 50px 50px;
    margin-top: 20px;
}

.assurance-statement div h3{
    margin: 10px 0 5px;
    padding: 0;
    font-size: 18px;
    color: #333333;
    font-weight: 500;
}

.assurance-statement div p{
    font-size: 14px;
    color: #666666;
    margin: 0;
    line-height: normal;
}
/* Customer assurance section end */

/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
    text-align: center;
    margin-bottom: 0px;
    float: right;
  }
  
  .filters * {
    display: inline-block;
  }
  
  .filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
  
  .filters label:hover {
    background: #49b293;
    color: #fff;
  }
  
