<!-- Resturant List -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-sm-12 text-center heading"><h1>{{'RESTAURANTS'}}</h1></div>
     
      <div class="col-sm-12 text-center ">
        <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <input type="text"  id="" placeholder="Find your favorite restaurant..." name="searchText">
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4" *ngIf="resturants">
               <h2 style="text-align: left;">{{resturants.length}} Restaurants</h2>
            </div>
            <div class="col-sm-8">
              <ol class="filters">
                <li>
                  <label (click)="resturantsList()">All</label>
                </li>
                <li>
                  <label (click)="sortByRating(-1)">Rating</label>
                </li>
                <li>
                  <label (click)="sortByPrice(1)">Cost: Low To High</label>
                </li>
                <li>
                  <label (click)="sortByPrice(-1)">Cost: High To Low</label>
                </li>
              </ol> 
            </div>
        </div>
          <div class="row py-3" *ngIf="resturants">
            <div class="col-sm-12 col-md-6 col-lg-3 restaurant" *ngFor="let _restaurant of resturants">
                <!-- <img src="../../assets/img/restaurants/{{_restaurant.supplier_image}}" alt="restaurant"> -->
                <img src="{{_restaurant.restaurant_thumb}}" alt="restaurant">
                <h3>{{_restaurant.restaurant_name}}</h3>
                <p>{{_restaurant.address.substr(0,35)}} ...</p>
                <p class="time"><span>Dining Reviews - {{_restaurant.average_rating}}</span>  <span>&#9733;</span> </p>
                
                <button type="button" class="btn" (click)="navigate(_restaurant)" >{{'View our menu'}}</button>
              </div>
        </div>
        </div>
      </div>
    </div>
  </div>