<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand"  routerLink="/"><img src="../../assets/img/logo-bw.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/restaurants">Restaurants</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/drinks">Drinks and Beverages</a>
      </li>
      
    </ul>
    <ul class="navbar-nav ml-auto icons">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-2x fa-user" aria-hidden="true"><br>Your Account</i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-links"(click)="myProfile()">My Profile</a>
        <a class="dropdown-item nav-links" (click)="myOrders()">My Orders</a>
        <div class="row">
          <div class="col-sm-12 d-flex flex-sm-column flex-md-column">
            <a class="btn btn-danger text-center my-2 mx-3" routerLink="/account/login">Login</a>
        <a class="btn btn-warning text-center  mx-3" routerLink="/account/register">Register</a>
          </div>

        </div>
        

      </div>
      </li>
      <li class="space"></li>
      
      <li class="dropdown">
        <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="myCart()">
          <i class="fa fa-shopping-cart" aria-hidden="true">  <br>Your cart</i>
      </a>
      </li>
      
  </ul>
  </div>
</nav>