h1{
    color: #cf0810;
    text-transform: uppercase;
    font-weight: 800;
}

/* .restaurant img{
    width: 200px;
    height: 100px;
}

.restaurant .btn{
    background: #cf0810;
    color: white;
    padding: 10px 20px;
    border: #ccc 5px solid;
    border-radius: 50px;
}

.restaurant h3{
    font-size:1rem
}

.restaurant p.no-display{
    color: #4c4b4b;
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
}

input, select{
    height: 35px;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 90%;
    border-radius: 6px;
    border-color: var(--danger);
    padding: 15px;
} */


/* Product Card */
.card_container {
    position: relative;
    width: 270px;
    height: 440px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #26242e;
    overflow: hidden;
  }
  
  .card_container img {
    z-index: 1;
    width: 270px;
    padding: 35px;
  }
  
  .card_container::before {
    content: "";
    position: absolute;
    top: -130px;
    left: 110px;
    width: 300px;
    height: 300px;
    background: url(https://firebasestorage.googleapis.com/v0/b/cajaregistradora-776cc.appspot.com/o/KEY0.CC-Mandala-Png-Pic-Mandalas-florales.png?alt=media&token=e48fe279-132b-4701-bedb-119b3511acf6)
      center / cover;
    opacity: 0.7;
  }
  
  .content-box {
    position: absolute;
    z-index: 1;
    bottom: 7px;
    width: 255px;
    height: 230px;
    color: #fff;
    padding: 0 7px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px 10px 15px 15px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .content-box p {
    color: #a6a6a6;
    font-size: 13px;
  }
  
  .btn {
    width: 248px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px 0 0;
  }
  
  .btn a {
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: #f9b02d;
    border-radius: 7px;
  }
/* Product Card End*/

